
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7cfc00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  gap: 20px;
}

.progress-bar {
  width: 550px;
  height: 10px;
  background-color: none;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  margin-top: -10px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #212121;
  transition: width 0.2s ease-in-out;
}

#content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#progress-text {
  font-family: Helvetica, sans-serif;
  margin-top: 4px;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  text-align: center;
}


#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh; 
  padding: 15px;
  background: white;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

#menu img {
  width: 230px;
  display: block;
  margin: 0 auto;
}

#menu label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
}

#menu input,
#menu select {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: white;
}

#menu input:focus,
#menu select:focus {
  outline: none;
  border: 3px solid #7cfc00;
}

#menu #apply-customization {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

#menu #apply-customization:hover,
#menu #buy-btn:hover,
#menu #reset-btn:hover {
  background: #333;
}

.options #reset-btn {
  background: black;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.options #reset-btn img {
  
  transform: scaleX(-1);
  width: 20px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#menu #buy-btn {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-top: auto; 
  margin-bottom: 40px;
}
